@charset "UTF-8";

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    text-align: center;
    max-width: 600px;
    min-width: 200px;
}

td {
    border: 1px solid black;
    width: 100px;
    padding: 8px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 2em;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.pink {
    background-color: deeppink;
}