@charset "UTF-8";

div {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    text-align: center;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    border-radius: .4em;
    border: .075em rgb(0, 255, 255) solid;
    margin: .3em .3em;
    display: inline-block;
}

div:hover {
    transition: .27s;
    background-color: rgb(177, 95, 253);
    cursor: pointer;
}