@charset "UTF-8";

body {
    background-image: url(../images/pattern003.png);
}

div.square {
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    border-radius: .3em;
    background-color: rgb(206, 206, 206);
    width: 150px;
    height: 150px;
}

div#s1 {
    background-color: #0044ff;
}

div#s2 {
    background-image: linear-gradient(135deg, #f15bb5, #5de0e5);
}

div#s3 {
    background-image: url(../images/wallpaper001.jpg);
}