@charset "UTF-8";

body {
    height: 98vh;
    background-image: url(../images/wallpaper003.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/*

The background-position is the anchorage point image. 

*/