@charset "UTF-8";

body {
    max-width: 600px;
    margin: 2em auto;
    font-family: Helvetica, Arial, Sans-serif;
    color: white;
    font-weight: bolder;
}

table {
    border-collapse: collapse;
    width: 600px;
    height: 300px;
    margin: auto;
}

td, th {
    text-align: center;
    border: 1px solid black;
    padding: .2em 1em;
}

.c-name {
    background-color: rgb(226, 74, 99);
}

.c-sex {
    background-color: rgb(138, 221, 14);
}

.c-age {
    background-color: rgb(92, 47, 255);
}