@charset "UTF-8";

body {
    max-width: 600px;
    min-width: 200px;
    margin: auto;
    font-family: helvetica;
    font-size: .8em;
}

table {
    border-collapse: collapse;
    margin: auto;
    position: relative;
}

th {
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid black;
}

td {
    width: 100px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
}

thead th {
    position: sticky;
    top: -1px;
}

/* Zebra Effect (n) \/ */

/*
tbody tr:nth-child(2n) {
    background-color: pink;
}
*/

/* Zebra Effect (Odd and Even) \/ */

tbody tr:nth-child(odd) {
    background-color: rgb(192, 235, 255);
}

tbody tr:nth-child(even) {
    background-color: rgb(255, 240, 192);
}

tfoot td {
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: right;
}

caption {
    padding: 1.5em 0;
    font-size: 1.5em;
}

.name {
    text-align: left;
    padding-left: .5em;
}

.number {
    text-align: right;
    padding-right: .5em;
}