@charset "UTF-8";

body {
    max-width: 600px;
    margin: 2em auto;
    font-family: Helvetica, Arial, Sans-serif;
}

table {
    border-collapse: collapse;
    width: 600px;
    height: 300px;
    margin: auto;
}

td, th {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding: .2em 1em;
}

thead tr th, .average-row {
    background-color: grey;
    color: white;
}

.area-name {
    background-color: black;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.315);
}